/* Cache problem in Chrome and IE on local computer, picking up custom CSS file!
 doubly weird is that without this file, the bootstrap striped table class shows white and grey stripes, but with this
 file empty, it shows red and white stripes.
 */

/*
 .radio-toolbar input[type="radio"]:checked+label {
  background-color: #f00;
}*/

body {
    background-color: red;
}

button {
    background-color: red;
}

