/* Cache problem in Chrome and IE on local computer, picking up custom CSS file!
 doubly weird is that without this file, the bootstrap striped table class shows white and grey stripes, but with this
 file empty, it shows red and white stripes.
 */

/*
 .radio-toolbar input[type="radio"]:checked+label {
  background-color: #f00;
}*/

body {
    background-color: green;
}

/*
Move more CSS code in here later, now confirmed it is picking up this file.
Also move JS code into JS folder, and later any images to images folder.
button {
    background-color: red;
}
*/

