{% extends "base.jinja2" %}
{% block content %}

    <div class="collapse navbar-collapse" id="Street_Nav">
      <ul class="nav navbar-nav">
        <li><a href="/">New Search</a></li>
        <li><a href="#" >Street Lists</a></li>
        <li><a href="#">Street Reports</a></li>
        <li class="active"><a href="/about.jinja2" style="background-color:#13019e">About<span class="sr-only">(current)</span></a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="content container">

<div class="jumbotron">

    <h3>Hacker Rank Solution in Python 2, works for 9 of 11 test inputs.<br/>
    Can be pasted and validated into problem which is at:
        <a href="https://www.hackerrank.com/contests/code-and-the-curious/challenges/sell-statistics-query-system/problem">https://www.hackerrank.com/contests/code-and-the-curious/challenges/sell-statistics-query-system/problem</a>
    </h3>

<p>

h
</p>

</div>

{% endblock %}

