{% extends "base.jinja2" %}

{% block content %}

<script>

function showExpl(){
        document.getElementById('Explanation').style.display = "block";
        document.getElementById('showbut').style.display = "none";
        document.getElementById('hidebut').style.display = "block";
}

function toggleExpl(){
        if(document.getElementById('Explanation').style.display=='block'){
            document.getElementById('Explanation').style.display = "none";
            document.getElementById('showbut').style.display = "block";
            document.getElementById('hidebut').style.display = "none";
        }
        else if(document.getElementById('Explanation').style.display=='none'){
            document.getElementById('Explanation').style.display = "block";
            document.getElementById('showbut').style.display = "none";
            document.getElementById('hidebut').style.display = "block";
        }
}

</script>

        <table id="topline" class="row"  style="width:100%">
            <tr>
            <td style="width:85%">
                <h2 style="text-align:center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Croydon Borough Street Search</h2>
            </td>
            <td style="width:15%">
                <br/>
                <h4 id="hidebut" onclick="toggleExpl()" style="text-decoration:underline; color:#72c10b; cursor:pointer;">Hide Intro</h4>
                <h4 id="showbut" onclick="toggleExpl()" style="text-decoration:underline; color:#72c10b; cursor:pointer;">Show Intro</h4>
<!--
        <button class="btn btn-primary" onclick="toggleExpl()" id="hidebut" style="background-color:#72c10b">&nbsp;Hide Explanation&nbsp;</button>
        <button class="btn btn-primary" onclick="toggleExpl()" id="showbut" style="background-color:#72c10b">Show Explanation</button>
-->
            </td>
            </tr>
        </table>
        <p>This is a small demo application using Flask with Python 3 and MongoDB, and a Bootstrapped front end,
            hosted on CentOS 7 Linux in a Digital Ocean droplet, served via nginx and uWSGI.</p>
        <div id="Explanation">
        <p>You search for a main street in Croydon borough, and zero to three 'Box C' side streets on this page,
        entering only a few letters for speed and convenience. A second page gives you specific street choices, and
        then a final page is a ready-to-print report on (the first few) relevant features of these street(s) for the
        UK property conveyancing land charges search process. For someone with several searches to make quickly at the
            same time, they can easily open a new browser tab for each search.</p>
        <p>This is a first step for possible method on how part of this repetitive council land charges search process
        could be done, but available data is not complete. I have inserted a few of the street number ranges for each
        'street section' from guessing, eg for Brighton Road (type "bri" for example in the street field to see),
        but others missing. Roads which are TfL (Transport for London) Side Roads, have split status, or cross borough boundaries
            should all be shown (eg "Green Lane", "Monks Orchard Road", "Headley Drive"...).</p>
        </div>
        <p>Try it below, or <a href="/about.jinja2" style="color:#00C300">click here</a> for further details on this project.
        </p>

<form class="form-horizontal" action = "{{ url_for('street_lists.get_streetlist') }}" method="post">
  <fieldset>

     <div class="form-group">
        <label for="street" class="col-lg-1 control-label">Street</label>
        <div class="col-lg-3">
            <input class="form-control" id="street" name="street" pattern="^\S.{1,28}\S$"
                   title="Sorry, you must type from 3 to 30 characters, and no space at beginning or end."
                   placeholder="3 or more consecutive letters" required>
            <!--  rows="1" required attribute needed because empty string bypasses the pattern regex. -->
            <span class="help-block">e.g. just type "chu" for Church Road</span>
        </div>

        <label for="street" class="col-lg-1 control-label">Name or Number</label>
        <div class="col-lg-4">
            <textarea class="form-control" rows="1" id="number" name="number"
                      placeholder="eg '31', '23a', 'Spring Cottage'"></textarea>
            <span class="help-block">A property number or name here is preferable.</span>
        </div>
    </div>

    <div class="form-group">
        <h4>&nbsp;&nbsp;&nbsp;&nbsp;Box C Streets</h4>
    </div>

    <div class="form-group">
        <label for="c1" class="col-lg-2 control-label">C Street 1</label>
        <div class="col-lg-4">
            <textarea class="form-control" rows="1" id="c1" name="c1"></textarea>
            <span class="help-block">As above, please just type 3 or more consecutive letters</span>
        </div>

    </div>

    <div class="form-group">

         <label for="c2" class="col-lg-2 control-label">C Street 2</label>
         <div class="col-lg-4">
            <textarea class="form-control" rows="1" id="c2" name="c2"></textarea>
            <span class="help-block">In the rare case this has 2nd Box C street.</span>
         </div>

    </div>

    <div class="form-group">

        <label for="c3" class="col-lg-2 control-label">C Street 3</label>
        <div class="col-lg-4">
            <textarea class="form-control" rows="1" id="c3" name="c3"></textarea>
            <span class="help-block">And exceptionally rarely if you have a third!</span>
        </div>


    </div>



    <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
            <button type="reset" class="btn btn-default">Clear</button>
            <button type="submit" class="btn btn-primary">Show Me the Streets</button>
        </div>
    </div>
  </fieldset>
</form>

{% endblock %}
